<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="piaConnectionString"
			 connectionString="Data Source=DESKTOP-HI8SGUV;Initial Catalog=pia;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30" />
		</authentication>

		<authorization>
			<deny users="?" />
		</authorization>

		<compilation debug="true" targetFramework="4.8" />

		<sessionState timeout="30" />

		<customErrors mode="Off" />

		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Signup.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="images">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Content">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

</configuration>